<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1>Stupid Coaching</h1>
        <form action="answer" data-turbo="false" class="form-label">
        <input type="text" name="question" class="form-text">
        <input type="submit" value="Ask!">
        </form>
    </div>
  </div>
</div>
